# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# vs
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
!/docs/core/build/
bld/
[Bb]in/
[Oo]bj/

# packages
packages/


