<connectionStrings>
  <add name="Mix" connectionString="Data Source=mssql.sistemamix.com.br;Initial Catalog=sistemamix;Persist Security Info=True;user id=sistemamix;password=s1s73m4m1x" providerName="System.Data.SqlClient"/>
  <!--<add name="Mix" connectionString="Data Source=DESKTOP-UFBS1QD\SQLEXPRESS;Initial Catalog=sistemamix;Persist Security Info=True;user id=sistemamix;password=s1s73m4m1x" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
